APP_NAME=yokaid
DOCKER_NET=yokaid_network
WEB_PORT=80
API_PORT=8080
MEDIA_STORE_PORT=9090
STORE_PORT=5432
# for local setup use DOMAIN=localhost
DOMAIN=yokaid.com
INSTANCE_ID=main
GIN_MODE=release
# can be debug or release

DB_ROOT=postgres
DB_ROOT_PASS="3Pencils-->"
DB_APP_USER=app
DB_APP_PASSWORD=Yokaid-@pp2013
STORE_DRIVER=postgres

LOGS_TO_SCREEN=true
LOGS_TO_FILE=true
SUPPORT_MAIL=support@yokaid.com
MAIL_FROM=app@yokaid.com

SEND_SMS_URL=https://rest.clicksend.com/v3/sms/send
SEND_SMS_AUTH=support@yokaid.com:BB805C6C-C8DD-16FE-3D39-0B1E4BF4EC0E
SEND_MAIL_URL=https://send.api.mailtrap.io/api/send
SEND_MAIL_AUTH=2711ea86b9a4ee0db4873a168d50fc5c
