APP_NAME=some-app
DOCKER_NET=someapp_network
DB_URL=postgresql://app:Some%2D%40pp2013@postgres:5432/some-app?sslmode=disable
DB_DRIVER=postgres
API_URL=http://0.0.0.0:8080
API_DOCKER_URL=http://api:8080
#docker network api url
GIN_MODE=release
# can be debug or release

POSTGRES_ROOT=postgres
POSTGRES_ROOT_PASS="3Pencils-->"
DB_URL_ROOT=postgresql://postgres:3Pencils%2D%2D%3E@postgres:5432/$(APP_NAME)?sslmode=disable
POSTGRES_APP_USER=app
POSTGRES_APP_PASSWORD=Some-@pp2013

MAIL_API_KEY=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
MAIL_FROM=martinbenadik@centrum.sk
LOGS_TO_SCREEN=true
LOGS_TO_FILE=true
ENABLE_NOTIFICATIONS=true
