APP_NAME=yokaid
DOCKER_NET=yokaid_network
API_PORT=8080
API_PORT_TEST=8090
# for local setup use DOMAIN=localhost
DOMAIN=yokaid.com
MAIN_SERVER=main
TEST_SERVER=test
GIN_MODE=release
# can be debug or release

DB_ROOT=postgres
DB_ROOT_PASS="3Pencils-->"
DB_APP_USER=app
DB_APP_PASSWORD=Yokaid-@pp2013

MAIL_API_KEY=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
MAIL_FROM=martinbenadik@centrum.sk
LOGS_TO_SCREEN=true
LOGS_TO_FILE=true
ENABLE_NOTIFICATIONS=true
