APP_NAME=rental_app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_URL=postgresql://postgres:postgres@localhost:5432/rental_app?sslmode=disable

DB_DRIVER=postgres
TOKEN_SYMMETRIC_KEY=ThisIs32CharsLongKey123456789012
ACCESS_TOKEN_DURATION=360 # in minutes
API_URL="localhost:8080"

MAIL_API_KEY=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
MAIL_FROM=martinbenadik@centrum.sk
LOGS_TO_SCREEN=true
LOGS_TO_FILE=true
ENABLE_NOTIFICATIONS=true